[Desktop Entry]
Type=Application
Name=LithoMaker
Exec=LithoMaker %F
Icon=lithomaker
Comment=Lithophane 3D mesh renderer and exporter
Terminal=false
Categories=Graphics;3DGraphics;
MimeType=image/jpeg;image/png;image/bmp;image/tiff;
X-AppImage-Version=1.0.0
